/* Base CSS */
:root{
    --primary-color:rgb(238, 77, 45);
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --navbar-height:30px;
    --header-height:120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/* Animation */
    @keyframes Fadein {
        from{
            opacity:0;
        }
        to{
            opacity: 1;
        }
        
    }
    @keyframes headernotiGrow{
        from{
            opacity: 0;
            transform: scale(0);
        }
        to{
            opacity: 1;
            transform: 1;
        }
    }
    @keyframes growth{
        from{
            transform:scale(var(--growth-from));
        }
        to{
            transform:scale(var(--growth-to));
        }
    }
/* modal */
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: Fadein linear .1s;
}
.modal__overlay{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.4)
}
.modal__body{
    margin: auto;
    z-index: 1;
 

}  
.auth__form{
    border-radius: 5px;
    background-color:var(--white-color);
    width: 500px;
    overflow: hidden;
}
.auth__form__container{
    margin:0 32px
}
.auth__form-header{
    padding:12px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}
.auth__form-heading{
    font-size: 2rem;
    font-weight: 400;
    color:var(--text-color);
}
.auth__form__switch-btn{
    font-size: 1.6rem;
    color:var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
.auth__form-form{

}
.auth__form-group{

}
.auth__form-input{
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding:0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline:none;

}
.auth__form-input:focus{
    border:1px solid #777;
}
.auth__form-aside{
    margin-top: 18px;
    padding: 0 12px;
}
.auth__form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}
.auth__form__text-link{
    text-decoration: none;
    color:var(--primary-color);
}
.auth__form-controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.btn{
    line-height: 1.6rem;
    min-width: 142px;
    min-height: 34px;
    border:none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-normal:hover{
    background:rgba(0, 0, 0,0.05);
}
.btn.auth__form-controls--back{
    margin-right: 8px;
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.auth__form-socials{
    margin-top: 24px;
    background-color:#f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}
.btn.btn--size-s{
    padding: 0 8px;
    height: 30px;
    font-size: 1.2rem;
}
.auth__form-socials-facebook{
    background-color:#3A5a98;
    color: var(--white-color);
    text-decoration: none;
}
.auth__form-socials-facebook,
.auth__form-socials-icon{
    color: var(--white-color);    
}
.auth__form-socials-google{
    background-color:var(--white-color);
    color:#666;
    text-decoration: none;
}
.auth__form-socials-icon{
    font-size: 1.8rem;
}
.auth__form-socials-connected{
    margin: 0 36px;
}
/* Login */
.auth__form__help{
    display: flex;
    justify-content: flex-end;
}
.auth__form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth__form__help-link-forgot{
    color: var(--primary-color);
}
.auth__form__help-separate{
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin : -2px 16px 0px;
}
/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.pagination-item{
    list-style-type: none;
}

.pagination-link{
    font-size: 2rem;
    margin:0 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color:#939393;
    min-width: 40px;
    height: 30px;
    border-radius: 2px;
}
.pagination-item--active .pagination-link{
    background-color: var(--primary-color);
    color:var(--white-color);
}
.pagination-item--active .pagination-link:hover{
    background: #f05d40;
}

.pagination-item__icon{

}
